<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content">
    <%= render partial: 'shared/micropost_hashtag_conversion', locals: { micropost: feed_item } %>
    <%= render partial: 'shared/micropost_citations_view', locals: { micropost: feed_item } %>
  </span>
<% if feed_item.image? %>
  <% if Rails.env.production? %>
    <div><%= cl_image_tag(feed_item.image_url(:thumb)) %></div>
  <% else %>
    <div><%= image_tag feed_item.image_url(:thumb) %></div>
  <% end %>
<% end %>
  <span class="timestamp">
    <%= time_ago_in_words(feed_item.created_at) %>前
  </span>

  <div class="reaction_buttons_container">
    <%= render "likes/like", micropost: feed_item %>
    <%= render 'layouts/repostbutton' %>
    <%= render 'layouts/deletebutton', occurrence: feed_item if current_user == feed_item.user %>
  </div>
</li>
